:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  line-height: 1.6;
  font-family: var(--ff-primary);
  background-color: rgb(241, 236, 236);
}
h1, 
h2, 
h3 {
  font-family: var(--ff-accent);
}
/* #grid {
  display: grid;
  grid-template-areas:
    "a a1 a1"
    "b b1 c"
    ". d ."
    "e1 e2 . "
    "f . ."
    "g . ."
    "h . ."
    "i i i";  
  width: 100vw;
  gap: 2rem;
} */
#grid {
  display: grid;
  width: 100vw;
  /* justify-content: space-between; */
}
/* #introduction {
  display: flex;
  flex-flow: row wrap;
  grid-column: span 3;
  width: 90vw;
  gap: 2rem;
  justify-content: space-around;
  margin: 2rem;
} */
  
#navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  /* padding-top: 0.8rem; */
  font-size: 1.5rem;
  font-weight: 400;
  gap: 4rem; 
  width: 100vw;
  justify-self: center;
  margin-top: 2rem;
  padding: 1rem;

  /* justify-self: right; */
} 
.menu-items:hover {
  text-decoration: underline hsl(140, 63%, 33%) solid 3px;
  cursor: pointer;
  text-underline-position: under;
}
a {
  color: black;
  text-decoration:var(--ff-primary);
}
#a-clases{
  color:indianred;
}
#a-salas{
  color:rgb(46, 107, 128);
}
#a-blog{
  color:mediumslateblue;
}
#a-lengua {
  color:rgb(65, 180, 30)
}
#a-cursos{
  color:orange;
}
#icons {
  margin: 1rem;
  align-self:baseline;
}
#entrada {
  display: flex;
  flex-flow: row wrap;
  font-size: var(--ff-accent);
  justify-content: space-around;
  /* grid-area: a; */
}
#titulo {
  align-self: center;
}
h1 {
  color: hsl(0, 52%, 45%); 
  font-size: 1.7rem;
  margin: 0.5rem;
}

#oficial {
  /* align-self: flex-start; */
  box-shadow: 10px 10px 20px black;
  max-width: 80vw;
}
#quijote {
  height: 16rem;
  justify-self: center; 
  margin-top: 2rem;
  margin-inline: 1rem;
}
.fotos {
max-height: 50%;
display: block;
box-shadow: 10px 10px 20px black;
}
#main-pic {
  max-height: 90%;
  margin: 2rem;
  width: 90%;
  border-radius: 5px;
}
#clases-extranjeros{
  display:grid;
  background-color: papayawhip;
  justify-content: center;background-color: papayawhip;
}
.prop {
  justify-self: center;
}
@media (min-width: 740px) {
  #navbar {
    justify-content: center;
  }
  #main-pic {
    width: 40%;
  }
  #titulo {
    font-size: 3rem;
  }
}
/* p { 
  font-size: larger;
  margin-inline: 0.5rem;
  max-width: 55ch;
}
p::first-line {
  font-size: 2rem;
}
hr {
  padding: 1rem;
  border:hsl(0, 52%, 45%) solid 1px;
  width: 100vw;
}
#video {
  grid-area: auto;
  max-width: 90vw;
  margin: 1rem;
  box-shadow: 10px 10px 20px black;
  justify-self: center;
}
#clases {
  font-family: var(--ff-primary);
  grid-area: f;
  background-color: lavenderblush;
}

#salas {
  grid-area: g;
  background-color: lightgray;
}
#cursos {
  grid-area: h;
}
#lengua {
  grid-area: i;
  padding: 2rem;
  max-width: 90vw;
}
.servicios {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  max-width: auto-fit;
  max-height: auto-fit;
  margin: 1.5rem;
  padding: 1rem;
  border: solid black 1px;
  border-radius: 10px;
  box-shadow: 5px 5px 40px lightslategray;
}
.texto {
  display: flex;
  flex-flow: column wrap;
  max-width: 70ch;
  padding: 2rem;  
}
#clases-extranjeros{
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  height: 90vh;
  width: 90vw;
  justify-content: center;
  gap: 10rem;
}
#clases-header {
  display: flex;
  flex-flow: row wrap;
} */

/* @media screen and (max-width: 700px) {
  * {
    padding: 0px;
  }
  #grid {
    grid-template-areas:
      "a"
      "ab"
      "a1"
      "b"
      "c"
      "d"
      "e  "
      "f"
      "g"
      "h"
      "i";
      max-width: 100vw;
      padding: 0px;
      margin: 0px;
  }
  #logos {
    width: 100vw;
  }
  #quijote {
    grid-area: a;
    justify-self: start;
  }
#logo {
  grid-area: ab;
  font-size: large;
  font-weight: 800;

}
  #navbar {
    display: flex;
    flex-flow: column wrap;
    grid-area: ab;
    justify-self: start; 
    max-width: 100vw;
    margin-inline: 2rem;
    gap: 1rem;
    padding-bottom: 1rem;
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 4px;
  }
  #introduction {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    grid-area: a1;
    max-width: 80vw;
    height: fit-content;
  }
  p { 
    padding-top: 10px;
    padding-left: 10px;
    font-size: larger;
    max-width: 80vw;
  }
  li:hover {
    text-decoration: underline hsl(61, 73%, 34%) solid 3px;
    cursor: pointer;
    text-underline-position: under;
  }

  #oficial {
    grid-area: c;
    max-width: 50vw;
    align-self: flex-start;
    justify-self: start;
    margin-left: 4rem;
    margin-top: 2rem;
  }
  #video1 {
    grid-area: d;
    justify-self: start;
    margin-inline: 0;
  }
  #video2 {
    grid-area: e;
    margin-top: 2rem;
    justify-self: start;
    margin-inline: 0;
  }
  #video1, 
  #video2 {
    max-width: 100vw;
  }
  .servicios{
    max-width: 100vw;
  }
  #clases {
    grid-area: f;
  }
  #salas {
    grid-area: g;
  }
  #cursos {
    grid-area: h;
  }
  #lengua {
    grid-area: i;
    max-width: 80vw;
  }
 }  */